<div class="message">
  <p class="msg-sender"><%= message.sender.username %></p>
  <div class="msg-timestamp"><%= message_timestamp(message.updated_at) %></div>
  <p><%= message.content  %></p>
</div>
