<div class="message">
  <p>From: <%= message.sender.username %></p>
  <div class="msg-timestamp"><%= message_timestamp(message.updated_at) %></div>
  <br />
  <p class="msg-content"><%= link_to message.content[0..100], message_path(message.sender.id) %></p>
</div>
