<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<h1>Inbox - <%= link_to "All", messages_path %> </h1>

<div id="messages">
  <%  @messages.each do |message| %>
    <%= render :partial => "message_summary", :locals => { :message => message} %>
  <% end %>


  <% if @messages.empty? %>
    Inbox empty.  You have no unread messages.
  <% end %>
  
</div>