<h1>Inbox - <%= link_to "All", messages_path %> </h1>

<div id="messages-inbox">
  <% if @messages.empty? %>
    You have no unread messages.
  <% end %>

  <%  @messages.each do |message| %>
    <%= render 'message_summary', message: message %>
  <% end %>
</div>
