<% provide(:title, 'All Messages') %>

<h1><%= link_to "Inbox", messages_inbox_path %> -  All</h1>

<div id="messages">
  <% @messages.each do |message| %>
    <%= render 'message_summary', message: message %>
  <% end %>

  <% if @messages.empty? %>
    You have no messages.
  <% end %>
</div>
