<div class="user-karma">
  <%= content_tag :span, "By:", class: "left" if byline %>
  <span class="left"><%= link_to user.username, user %></span>

  <span class="right">
    <span class="green"><%= "+#{user.up_ratings}" %></span>
    <span class="red"><%= "-#{user.down_ratings}" %></span>
  </span>
</div>
