<div class="user-karma">
  <span class="left"><%= link_to user.username, user %></span>

  <span class="right">
    <span class="karma-up"><%= "+#{user.up_ratings}" %></span>
    <span class="karma-down"><%= "-#{user.down_ratings}" %></span>
  </span>
</div>
