<% provide(:title, 'Edit your profile') %>

<div class="row">
  <div class="span-6 offset-5">

    <%= render 'form', title: "Edit your profile", btn: 'Submit' %>

    <%= link_to raw('&laquo Back'), users_path, class: 'back-btn' %>
  </div>
</div>


