<% provide(:title, 'Sign up') %>

<div class="row">
  <div class="span-6 offset-5">

    <%= render 'form', title: 'Sign up', btn: 'Sign up' %>

    <span class="form-suggestion">
      Already have an account? <%= link_to raw("Log in! &raquo;"), "#" %>
    </span>


  </div>
</div
