<div class="page-section">
  <div class="offer-masonry">

    <% @offers.each do |offer| %>
      <div class="offer-box">
        <div class="offer-details">
          <p class="offer-title"><%= offer.title %></p>
          <p><%= offer.description %></p>
          <!-- <img src="http://placehold.it/350x175"> -->
        </div>

        <div class="offer-notifications">
          <!-- <p>New message from <span class="username">user99</span></p> -->
          <%= link_to raw("View offer &raquo;"), offer %>
        </div>
      </div>
    <% end %>

  </div>
</div>
