
<div style ="margin: 5px;">
  <p style="font-size: 1.1em;">
    <span style="font-weight: bold">Title:</span>
    <%= bid.title %>
  </p>

  <p style="font-size: 1.1em;">
    <span style="font-weight: bold">Description:</span>
    <%= bid.description %>
  </p>

  <p>
    <% if bid.image.present? %>
      <%= image_tag bid.image.url(:thumb) %>
    <% end %>
  </p>

</div>
