
<div style ="margin: 5px;">
  <p style="font-size: 1.1em;">
    <span style="font-weight: bold">Title:</span>
    <%= bid.title %>
  </p>

  <p style="font-size: 1.1em;">
    <span style="font-weight: bold">Description:</span>
    <%= bid.description %>
  </p>
  <%= render :partial => "karma", :locals => { :user => bid.user } %>
</div>