
<div style ="margin: 5px;">
  <p style="font-size: 1.1em;">
    <span style="font-weight: bold">Title:</span>
    <%= bid.title %>
  </p>

  <p style="font-size: 1.1em;">
    <span style="font-weight: bold">Description:</span>
    <%= bid.description %>
  </p>

<div style="margin: 20px 0;">
  <%= link_to 'Accept', offer_accept_path(offer_id: @offer, bid_id: bid), method: :post, class: 'btn btn-blue' %>
</div>

</div>
