<div class="offer">
  <% if offer.image.present? %>
    <%= image_tag offer.image.url(:thumb) %>
  <% end %>
  <%= link_to offer.title, offer, class: "offer-link" %>
  <%= link_to raw("View Trade &raquo;"), offer, class: "btn btn-aqua right" %>
</div>
