<p style="font-size: 1.1em;">
  <span style="font-weight: bold">Title:</span>
  <%= @offer.title %>
</p>

<p style="font-size: 1.1em;">
  <span style="font-weight: bold">Description:</span>
  <%= @offer.description %>
</p>