<% cache "summary-#{offer.id}" do %>
<div class="offer-summary">
  <%= link_to offer.title, offer, class: "offer-link" %>

    <%= link_to raw("View Trade &raquo;"), offer, class: "btn btn-aqua right" %>
  </div>
<% end %>
