<style type="text/css">
  div.offer {
    border:2px solid;
    padding: 10px;
    margin: 10px;
  }
  a.trade_button {
    float: right;
  }
  .pagination {
    width: 10%;
    margin: 0px auto;
  }
</style>
<div class="offer">
  <%= link_to("View Trade >>", { controller: :offers, action: :show, id: offer.id }, { class: "trade_button" }) %> 
  <p style="font-size: 1.1em;">
    <%= offer.title %>
  </p>
</div>