<div class="row">
  <div class="span-10 offset-3">

    <div class="btn btn-blue btn-large left">Post a trade</div>
    <div class="btn btn-blue btn-large right">Browse open trades</div>

  </div>
</div>


<div class="row dashboard-section">
  <div class="span-16">

    <h1 class="section-title">Your Trades</h1>

    <div class="span-4 offer-box">
      <div class="offer-details">
        <img src="http://placehold.it/350x175">
      </div>

      <div class="offer-notifications">
        <p>New message from <span class="username">user99</span></p>
        <a href="#">View offer &raquo;</a>
      </div>
    </div>

    <div class="span-4 offer-box">
      <div class="offer-details">
        <img src="http://placehold.it/350x175">
      </div>

      <div class="offer-notifications">
        <p>New offer by <span class="username">user99</span></p>
        <a href="#">View offer &raquo;</a>
      </div>
    </div>

    <div class="span-4 offer-box">
      <div class="offer-details">
        <img src="http://placehold.it/350x175">
      </div>

      <div class="offer-notifications">
        <p>New offer by <span class="username">user99</span></p>
        <a href="#">View offer &raquo;</a>
      </div>
    </div>


  </div>
</div><!-- .dashboard-section -->



<div class="row dashboard-section">
  <div class="span-16">

    <h1 class="section-title">Recently posted for: Santa Barbara</h1>

    <div class="span-4 offer-box">
      <div class="offer-details">
        <p class="offer-title">Couch - good condition</p>
        <img src="http://placehold.it/350x175">
      </div>

      <div class="offer-notifications">
        <p><%= LiterateRandomizer.sentence + " " + LiterateRandomizer.sentence %></p>
        <a href="#">More info &raquo;</a>
      </div>
    </div>

    <div class="span-4 offer-box">
      <div class="offer-details">
        <p class="offer-title">PSTAT textbook</p>
        <img src="http://placehold.it/350x175">
      </div>

      <div class="offer-notifications">
        <p><%= LiterateRandomizer.sentence + " " + LiterateRandomizer.sentence %></p>
        <a href="#">More info &raquo;</a>
      </div>
    </div>    <div class="span-4 offer-box">
      <div class="offer-details">
        <p class="offer-title">My CD collection (vintage)</p>
        <img src="http://placehold.it/350x175">
      </div>

      <div class="offer-notifications">
        <p><%= LiterateRandomizer.sentence + " " + LiterateRandomizer.sentence %></p>
        <a href="#">More info &raquo;</a>
      </div>
    </div>


  </div>
</div><!-- .dashboard-section -->
