<% provide(:title, 'Editing Offer') %>

<div class="row">
  <div class="span-6 offset-5">

    <%= render 'form', title: "Editing &#8220;#{@offer.title}&#8221;"  %>

    <%= link_to raw('&laquo; Back'), offers_path, class: 'back-btn' %>
  </div>
</div>
