<% provide(:title, 'Offers') %>

<h1>Listing offers</h1>

<%= link_to 'Start a new trade', new_offer_path, class: 'btn btn-green action-btn' %>

<div id="offers_list">
  <% @offers.each do |offer| %>
    <%= render 'offer_summary', offer: offer %>
  <% end %>
</div>

<%= paginate @offers %>

