<h1>Open Offers for: Santa Barbara</h1>

<h3>Filtering | Options</h3>



<div id="offers_list"
<% @offers.each do |offer| %>
  <%= render :partial => 'offer', :locals => { :offer => offer } %>
<% end %>
</div>

<br />

<%= paginate @offers %>
<br />
<%= link_to 'New Offer', new_offer_path %>
