<% provide(:title, 'Offers') %>

<h1>Listing offers</h1>

<div id="offers_list">

  <% @offers.each do |offer| %>
    <%= render :partial => 'offer_summary', :locals => { :offer => offer }%>
  <% end %>

</div>

<%= paginate @offers %>

<%#= link_to 'New Offer', new_offer_path, class: 'btn btn-blue btn-medium' %>
