<% provide(:title, 'Make a new offer') %>

<div class="row">
  <div class="span-6 offset-5">

    <%= render 'form', title: "Make a new offer" %>

    <%= link_to raw('&laquo; Back'), offers_path, class: 'back-btn' %>
  </div>
</div>
