.section-title {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.dashboard-section {
  // TODO: Cheeky is overriding margins here?
  margin-top: 50px;

  @media (max-width: 630px) {
    margin-top: 15px;
  }
}
