html {
  overflow-y: scroll;
}

body {
  @extend %noise;
  color: $gray-text;
  font-family: $baseFontFamily;
  font-size: 13px;
}

body > .container {
  margin: 35px auto 0;
}

@media (max-width: 630px) {
  body .container { padding: 0 5px; }
}

.left  { float: left }
.right { float: right }
.bold  { font-weight: bold; }
.green { color: $green; }
.blue  { color: $blue; }
.red  { color: $red; }


%noise {
  background: #f6f2e8 url('/images/noise.png');
}

%whitebox {
  @include border-box;
  @include border-radius;
  @include clearfix;
  background-color: white;
  border: 1px solid $med-gray; // outline
  padding: 20px;
}
