.user-notifications {
  @extend %whitebox;
  @include bold(1.1em);
  color: lighten($gray-text, 20);
  padding: 0;

  h3 { color: $gray-text; }

  .notif-num {
    font-size: 1.2em;
  }

  .notif-link {
    font-style: italic;
  }
}
